/****** Object:  StoredProcedure [dbo].[sp_DeleteAnnouncement]    Script Date: 20.03.2026 23:32:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_DeleteAnnouncement]
    @Id INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DELETE a
    FROM dbo.Announcements a
    WHERE a.Id = @Id
      AND a.UserId = @UserId;

    SELECT @@ROWCOUNT AS AffectedRows;
END