/****** Object:  StoredProcedure [dbo].[sp_FindOrCreateUser]    Script Date: 20.03.2026 23:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_FindOrCreateUser]
    @GoogleSubject NVARCHAR(128),
    @Email         NVARCHAR(256),
    @DisplayName   NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    SET @GoogleSubject = NULLIF(LTRIM(RTRIM(@GoogleSubject)), N'');
    SET @Email         = NULLIF(LTRIM(RTRIM(@Email)), N'');
    SET @DisplayName   = NULLIF(LTRIM(RTRIM(@DisplayName)), N'');

    IF @GoogleSubject IS NULL
        THROW 50001, 'GoogleSubject is required.', 1;
    IF @Email IS NULL
        THROW 50002, 'Email is required.', 1;

    DECLARE @UserId INT;

    SELECT @UserId = u.Id
    FROM dbo.Users u
    WHERE u.GoogleSubject = @GoogleSubject;

    IF @UserId IS NULL
    BEGIN
        INSERT INTO dbo.Users (GoogleSubject, Email, DisplayName)
        VALUES (@GoogleSubject, @Email, @DisplayName);

        SET @UserId = CAST(SCOPE_IDENTITY() AS INT);
    END
    ELSE
    BEGIN
        UPDATE dbo.Users
        SET
            Email = @Email,
            DisplayName = COALESCE(@DisplayName, DisplayName),
            UpdatedDate = SYSUTCDATETIME()
        WHERE Id = @UserId;
    END

    SELECT
        Id,
        GoogleSubject,
        Email,
        DisplayName,
        CreatedDate,
        UpdatedDate
    FROM dbo.Users
    WHERE Id = @UserId;
END