/****** Object:  StoredProcedure [dbo].[sp_GetAnnouncementById]    Script Date: 20.03.2026 23:32:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetAnnouncementById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM dbo.Announcements WHERE Id = @Id)
        THROW 50002, 'Announcement not found.', 1;

    SELECT
        a.Id,
        a.Title,
        a.[Description],
        a.CreatedDate,
        a.UpdatedDate,
        a.[Status],
        Category    = c.[Name],
        SubCategory = sc.[Name],
        a.UserId
    FROM dbo.Announcements a
    INNER JOIN dbo.Categories c
        ON c.Id = a.CategoryId
    LEFT JOIN dbo.SubCategories sc
        ON sc.Id = a.SubCategoryId
    WHERE a.Id = @Id;
END