/****** Object:  StoredProcedure [dbo].[sp_GetAnnouncements]    Script Date: 20.03.2026 23:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sp_GetAnnouncements]
    @Category    NVARCHAR(100) = NULL,
    @SubCategory NVARCHAR(100) = NULL,
    @Status      BIT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SET @Category    = NULLIF(LTRIM(RTRIM(@Category)), N'');
    SET @SubCategory = NULLIF(LTRIM(RTRIM(@SubCategory)), N'');

    SELECT
        a.Id,
        a.Title,
        a.[Description],
        a.CreatedDate,
        a.UpdatedDate,
        a.[Status],
        Category    = c.[Name],
        SubCategory = sc.[Name],
        a.UserId
    FROM dbo.Announcements a
    INNER JOIN dbo.Categories c
        ON c.Id = a.CategoryId
    LEFT JOIN dbo.SubCategories sc
        ON sc.Id = a.SubCategoryId
    WHERE
        (@Category IS NULL OR c.[Name] = @Category)
        AND (@SubCategory IS NULL OR sc.[Name] = @SubCategory)
        AND (@Status IS NULL OR a.[Status] = @Status)
    ORDER BY a.CreatedDate DESC, a.Id DESC;
END