/****** Object:  StoredProcedure [dbo].[sp_GetCategoryOptions]    Script Date: 20.03.2026 23:35:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_GetCategoryOptions]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Name AS CategoryName,
        sc.Name AS SubCategoryName
    FROM dbo.Categories c
    LEFT JOIN dbo.SubCategories sc ON sc.CategoryId = c.Id
    ORDER BY c.Name, sc.Name;
END
