/****** Object:  StoredProcedure [dbo].[sp_UpdateAnnouncement]    Script Date: 20.03.2026 23:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[sp_UpdateAnnouncement]
    @Id           INT,
    @UserId       INT,
    @Title        NVARCHAR(255),
    @Description  NVARCHAR(MAX),
    @Status       BIT,
    @Category     NVARCHAR(100),
    @SubCategory  NVARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    SET @Title       = NULLIF(LTRIM(RTRIM(@Title)), N'');
    SET @Description = NULLIF(LTRIM(RTRIM(@Description)), N'');
    SET @Category    = NULLIF(LTRIM(RTRIM(@Category)), N'');
    SET @SubCategory = NULLIF(LTRIM(RTRIM(@SubCategory)), N'');

    IF @UserId IS NULL
        THROW 50010, 'UserId is required.', 1;
    IF @Title IS NULL
        THROW 50020, 'Title is required.', 1;
    IF @Description IS NULL
        THROW 50021, 'Description is required.', 1;
    IF @Category IS NULL
        THROW 50022, 'Category is required.', 1;

    DECLARE @CategoryId INT;
    SELECT @CategoryId = c.Id
    FROM dbo.Categories c
    WHERE c.[Name] = @Category;

    IF @CategoryId IS NULL
        THROW 50023, 'Invalid Category.', 1;

    DECLARE @SubCategoryId INT = NULL;

    IF @SubCategory IS NOT NULL
    BEGIN
        SELECT @SubCategoryId = sc.Id
        FROM dbo.SubCategories sc
        WHERE sc.CategoryId = @CategoryId
          AND sc.[Name] = @SubCategory;

        IF @SubCategoryId IS NULL
            THROW 50011, 'Invalid Category/SubCategory pair.', 1;
    END

    UPDATE a
    SET
        a.Title = @Title,
        a.[Description] = @Description,
        a.[Status] = @Status,
        a.CategoryId = @CategoryId,
        a.SubCategoryId = @SubCategoryId,
        a.UpdatedDate = SYSUTCDATETIME()
    FROM dbo.Announcements a
    WHERE a.Id = @Id
      AND a.UserId = @UserId;

    SELECT @@ROWCOUNT AS AffectedRows;
END